body  {
    float:left;
    font-size: 16px;
    font-family: Verdana,Sans-Serif,Arial;
    line-height: 1.6em;
}

label.error  { 
    font-size: 14px;
    border: solid #BBB 1px;
    border-top: none;
    border-left: none;
    -moz-border-radius: 4px;
    padding: .5em 1em .5em .8em;
    color: #F60;
    background: #EDEDED;
    font-weight: bold;
    vertical-align: top;
    margin-left: 5px;
}

input, textarea     { font-size:   15px; color: #000000; }
h1                  { font-size:   30px; color: #150517; }
ul                  { font-weight: bold; }
ul.msgs             { color: #0000FF; }
ul.errors           { color: #F60; }
span.required_mark  { font-weight: bold; color: #F60; }
div                 { margin:8px; }
table               { text-align:left; }
th                  { font-weight: normal; }
th.sort             { font-weight: bold; color: #039; cursor:pointer; cursor:hand; }
th.sort img         { margin: 5px; vertical-align: middle; }
#table_list         { border-collapse:collapse; }
#table_list th      { padding: 10px 8px; border-bottom: 2px solid #6678b1; }
#table_list td      { border-bottom: 1px solid #ccc; padding: 6px 8px; }
#table_list tbody tr:hover td  { color: #009; }
#table_show         { border-collapse:separate; }
#table_show th, #table_show td { border-top: 1px solid #e8edff; padding: 6px 12px; }
#table_show th      { color: #039; border-right: 1px solid #ccc; }

.page_links ul {
display:block;
border:none;
text-transform:uppercase;
font-size:13px;
margin:20px 0 20px;
padding:0;
}

.page_links ul li {
list-style:none;
float:left;
border:1px solid #ccc;
text-decoration:none;
margin:0 6px 0 0;
padding:5px;
}

.page_links ul li:hover {
border:1px solid #003f7e;
}

.page_links ul li span {
border:1px solid #003f7e;
color:#000;
font-weight:700;
background-color:#eee;
}
