;; we test that the configuration file approach keeps on going even
;; when it tries to test a suite that does not exist (case )


;; try one that does
(equality-test-3)

;; try a testsuite that does not exist
(--I-am-sure-noone-will-name-a-test-suite-like-this)

;; and one that does
(test-find-test-suite)