;; we test that the configuration file approach keeps on going even
;; when given a configuration option it does not know

;; try one that does
(equality-test-2)

;; try a testsuite that does not exist
(:--am-I-sure-noone-will-use-this-as-a-configuration-option)

;; and one that does
(test-find-test-suite)